body{
	background-size: cover;
	background-attachment: fixed;
	background-image: url("img.jpg");
	background-position: center;
}
input[type="submit"],[type="button"],[type="reset"]{
	width: 10vw;
	height: 10vh;
	border: 1px solid black;
	outline: none;
	font-size: 5vw;
	color: black;
	font-family: 'Passion One', cursive;
	background-color: #8D6A0E;
	border-radius: 0.5em;

}
input[type="text"]{
	padding-left: 2.5vw;
	width: 31vw;
	height: 10vh;
	border: 1px solid black;
	outline: none;
	font-size: 5vw;
	color: black;
	font-family: 'Passion One', cursive;
	background-color: #8D6A0E;
	border-radius: 0.5em;

}
table{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}